::-webkit-scrollbar {
  display: none;
}

body {  
  background-color: grey;  
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 120px;
  padding-bottom: 180px; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
    
}

/* The navigation bar */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  justify-content: space-evenly;
  align-items: center;
  background-color: #111;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  background-color: rgb(0, 0, 136);
  box-shadow: 0px 0px 4px 6px rgba(0,0,0,0.9);
  height: 8%;

  }
/*
/* Links inside the navbar */
.navbar a {

  text-align: center;
  background-color: rgb(189, 189, 189);
  color: black;
  margin-bottom: 7px;
  margin-top: 1px;
  margin-left: 10px;
  padding: 20px 20px; 
  text-decoration: none;
  font-size: 28px;
  border-radius: 15px;
  box-shadow: -2px 2px 2px slategray;
  border: 1px solid darkslategray;
  
} *
  
/* Change background on mouse-over */
.navbar a:hover {
  background: green;
  color: white;
  border: 1px solid lightgray;

  
}

.navbar a:active {
    background: green;
    color: white;
    border: 1px solid lightgray;

}
  
/* ----------------------- */



div.polaroid {
  display: flex;   
  width: 95%;
  margin-top: 30px;
  margin-bottom: 30px;
  box-shadow: 0px 0px 4px 10px rgba(0,0,0,0.5);
    
}

img {
  width: 60%;

}
  
div.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  width: 40%;
  font-size: xx-large;  
  color: white;
  background-color: rgb(61, 30, 8);
  align-items: center;
  
  
}

#top{
  margin-left: 5px;
  margin-right: 5px;
  
  

  
  
}

#middle {
 width: 90%;
 background-color: rgb(200, 200, 200);
 color: rgb(61,30,8); 
 border-radius: 80px;
 font-weight: 700;
}

#bottom {

  color: rgb(204, 204, 204);
  font-weight: 700;  
}

.navbarbottom {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: #111;
  position: fixed; /* Set the navbar to fixed position */
  bottom: 0%; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  background-color: rgb(0, 0, 136);
  box-shadow: 0px 0px 4px 6px rgba(0,0,0,0.9);
  font-size: 15.8px;
}


#bottombar{ 
  max-width: 160px;
  
   
}
  
  
/* Change background on mouse-over */

.navbarbottom a:hover {
  background: green;
  color: white;
  border: 1px solid lightgray;
}

.navbarbottom a:active {
  background: green;
  color: white;
  border: 1px solid lightgray;
}


/* CSS */
.button-90 {
  color: #fff;
  padding: 15px 25px;
  border-radius: 100px;
  background-color: #4C43CD;
  background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 87% at 26% 20%, rgba(255, 255, 255, 0.41) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 2px 19px 31px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  font-size: 16px;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  cursor: pointer;
}




  